@import url('https://fonts.googleapis.com/css?family=Braah+One');

*{
    border-radius: 4px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF9046;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    padding: 0 15px;
    font-family: 'Braah One', sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    color: #333;
}

div {
    align-content: baseline;
}

.logo {
    display: flex;
}

.logo a {
    font-family: 'Braah One', sans-serif;
    color: #fff;
    text-decoration: none;
}

h1 {
    font-family: 'Braah One', sans-serif;
    margin-top: 20px;
}

.logo img {
    height: 70px;
    padding: 15px;
}

.header-content {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #fff;

}

nav ul li a:hover {
    background-color: #FFBB38;
}

button[type="submit"] {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #FF4E38;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

input {
    width: 400px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    font-size: 16px;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #777;
    padding: 10px;
}

li:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}