<header>
    <div class="header-container">
      <div class="logo">
        <img src="../../assets/Images/logo.png" alt="System Name">
        <h1><a routerLink="/">Btoo3 El Akl</a></h1>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search restaurants...">
        <button type="submit">Search</button>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/restaurants">Restaurants</a></li>
          <li><a routerLink="/orders">Orders</a></li>
          <li><a routerLink="/account">Account</a></li>
          <li><a routerLink="/cart"><img src="../../assets/Images/shopping-cart.png" height="25px"></a></li>
        </ul>
      </nav>
      
    </div>
  </header>
  