<div class="block">

    <p>Users data's : </p>
    
    <div class="user" *ngIf="selectedUser">
      <h2>{{selectedUser.firstName  }} from {{selectedUser.city}} data :</h2>
      <hr>
      <hr>
      <div class="text"><span class="privateData">Name: </span>{{selectedUser.firstName}}</div>
      <hr>
      <div class="text"><span class="privateData">Surname: </span>{{selectedUser.lastName}}</div>
      <hr>
      <div class="text"><span class="privateData">Age: </span>{{selectedUser.age}}</div>
      <hr>
      <div>
        <label class="text">CITY:
          <input class="text" [(ngModel)]="selectedUser.city" placeholder="city"/>
        </label>
      </div>
    </div>
    
    <div class="allUsers">
      <h2>Users list</h2>
      <ul class="Users">
        <li class="text" *ngFor="let user of user_list"
            (click)="onSelect(user)">
          <span class="badge">
            <img class="resize" src="{{user.image}}" alt="">
        </span>{{user.firstName}}
        <span>{{user.lastName}}</span>
        </li>
      </ul>
    </div>
    
    </div>