<div class="restaurant-manager2">
    <h1>Restaurant Delivery Settings</h1>
    <form>
        <div>
            <label for="deliveryFee"><b>Delivery Fee (EGP):</b></label>
            <input type="number" id="deliveryFee" name="deliveryFee" value="0.0">
        </div>

        <div class="cities">
            <label for="deliveryCities"><b>Delivery Cities:</b></label><br>

            <input type="checkbox">
            <label> City 1</label><br>
            
            <input type="checkbox">
            <label> City 2</label><br>
            
            <input type="checkbox">
            <label> City 3</label><br>

        </div>

        <div>
            <label for="cookingTime"><b>Cooking Time (minutes):</b></label>
            <input type="number" id="cookingTime" name="cookingTime" value="30">
        </div>

        <div>
            <label for="cuisineType"><b>Cuisine Type:</b></label>
            <input type="text" id="cuisineType" name="cuisineType">
        </div>
    </form>

</div>