@import url('https://fonts.googleapis.com/css?family=Braah+One');
*{
    font-family: 'Braah One', sans-serif;
    border-radius: 4px;
    margin: 5px;
    align-items: center;
}
div{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

input{
    width: 100px;
    margin: 10px;
}

select {
    height:30px;
    margin: 10px;
}

.cities input{
    width: auto;
    margin: 0px;
}