@import url('https://fonts.googleapis.com/css?family=Braah+One');
* {
    justify-content: space-between;
    color: #fff;
    font-family: 'Braah One', sans-serif;
    border-radius: 4px;
    border-width: 1px;
    color: #333;
    margin: 5px;
    align-content: center;
}
.restaurant-manager{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
li a:hover{
    border-width: 0px;
    color: red;
    margin-top: 0px;
    text-decoration: underline;
}

