<div class="restaurant-manager">
    <h1>Edit Your Restaurant's Menu</h1>
    <h2>Menu Categories</h2>
    <input type="text" placeholder="Category Name" [(ngModel)]="addedCategory">
    <button type="submit" (click)="onAddCategory()">Add Category</button>
    <ul>
      <li><button>Category Item</button></li>
    </ul>
  
    <h2>Menu Items</h2>
    <input type="text" placeholder="Item Name" [(ngModel)]="addedItem">
    <button type="submit" (click)="onAddItem()">Add Item</button>
    <ul>
      <li>item name</li>
    </ul>
    
  </div>
  