

<div style="width: 500px; height: 200px; margin: 0 auto">
    <app-slider [slides]="slides"></app-slider>
  </div>
<ul>
    <li *ngFor ="let store of stores">
        <a routerLink="/store/{{store.id}}">
            <img src="{{store.img_id}}" alt="">
            <div class="content">
                <div class="name">
                    {{store.title}}
                </div>
                <div>
                    Rating: {{store.stars}} ⭐
                </div>
               
    
            </div>
        </a>
    </li>
</ul>