<app-header></app-header>
<h1>Welcome Back!</h1>
<h2>All Available Restaurants</h2>
  <br>
  <div>
  <h3>Filter By:</h3>   
</div>
  <br>
  <div>
    <button class="btn"  (click)="fliterAsian()">Asian</button>
    <button class="btn" (click)="fliterCrepe()">Crepe</button>
    <button class="btn" (click)="fliterOriental()">Oriental</button>
    <button class="btn"(click)="fliterChicken()">Fried Chicken</button>
     <button class="btn"(click)="fliterBurger()">Burger</button>
    <button class="btn"(click)="fliterPizza()">Pizza</button>
    
  </div>
  
<ul>
    <li *ngFor ="let store of stores">
        <a  (click)="titleName(store.title)" routerLink="/store/{{store.id}}">
            <img src="{{store.img_id}}" alt="">
            <div class="content">
                <div class="name">
                    {{store.title}}
                </div>
                <div>
                    Rating: {{store.stars}} ⭐
                </div>
               
    
            </div>
        </a>
    </li>
</ul>