<ul>
    <li *ngFor ="let store of stores">
        <a href="">
            <img src="{{store.imageUrl}}" alt="">
            <div class="content">
                <div class="name">
                    {{store.name}}
                </div>
                <div>
                    Rating: {{store.stars}} ⭐
                </div>
                <div class="price">
                    <span>
                        Average Price Range: {{store.price}} L.E.
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>