.btn {
    cursor: pointer;
    border: 1px solid #FF6B00;
    background-color: transparent;
    height: 50px;
    width: 223px;
    align-self: center;
    color: #FF6B00;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.buttonDiv{
    align-self: center;
    align-items: center;
    margin-left: 30em;
}