<ul>
    <li *ngFor ="let dish of dishes">
        <div class="food">
            <img src="{{dish.Image}}" alt="dish.dish_name">
            <div class="content">
                <div class="name">
                    {{dish.dish_name}}
                </div>
            <div>
                {{dish.Description}}
            </div>
                <div class="price">
                    <span>
                        Average Price Range: {{dish.Price}} L.E.
                    </span>
                    <img class="Status" src="{{dish.Status}}" alt="dish.dish_name">
                </div>
                <button (click)="addToCart(dish.dish_name, dish.Price, dish.Image, dish.Description, dish.Status)">Add To Cart</button>
            </div>
        </div>
    </li>
</ul>